<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 classpath:mapper/ProductReceivingSingleSingleMapper.xml
 -->
<mapper namespace="com.huahua.saselomo.receiving.dao.ProductReceivingSingleDao">
  <!-- 存储收货单子项与产品对应关系信息 -->
  <insert id="saveObject" parameterType="com.huahua.saselomo.receiving.entity.ProductReceivingSingle">
  	INSERT INTO product_receiving_single 
  	(id, productId, receivingSingleId) 
  	VALUES 
  	(#{id}, #{productId}, #{receivingSingleId});
  </insert>
  <!-- 根据id删除一条信息 -->
  <delete id="deleteObject" parameterType="java.lang.Integer">
  	DELETE FROM product_receiving_single
  	WHERE receivingSingleId = #{recSingleId};
  </delete>
</mapper> 