<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 classpath:mapper/ReceivingMapper.xml
 -->
<mapper namespace="com.huahua.saselomo.receiving.dao.ReceivingDao">
  <!-- 根据收货单编号(部分)进行模糊查询,主要用于生成收货单编号 -->
  <select id="findObjectsByReceiptCode" resultType="com.huahua.saselomo.receiving.entity.Receiving">
  	SELECT id, receiptCode, createdTime 
  	FROM receiving
  	<where>
  		<if test="receiptCode!=null and receiptCode!=''">
  			receiptCode LIKE CONCAT("%", #{receiptCode}, "%") 
  		</if>
  	</where>
  	ORDER BY createdTime DESC;
  </select>
  <!-- 查询收货单信息 -->
  <select id="findObjects" resultType="com.huahua.saselomo.receiving.entity.Receiving">
  	SELECT id, receiptCode, valid, purchaseTime, totalPrice, note, createdTime, modifiedTime, createdUser, modifiedUser 
  	FROM receiving r
  	<where>
  		<if test="receiving.receiptCode!=null and receiving.receiptCode!=''">
  			r.receiptCode LIKE CONCAT("%", #{receiving.receiptCode}, "%") 
  		</if>
  		<if test="receiving.purchaseTime != null">
  			AND r.purchaseTime = #{receiving.purchaseTime} 
  		</if>
  	</where>
  	ORDER BY createdTime DESC 
  	LIMIT #{pageObject.startIndex}, #{pageObject.pageSize};
  </select>
  <!-- 获取表中收货单信息记录数 -->
  <select id="getRowCount" resultType="java.lang.Integer">
 		SELECT count(*) FROM receiving r
 		<where>
	 		<if test="receiving.receiptCode!=null and receiving.receiptCode!=''">
	  			r.receiptCode LIKE CONCAT("%", #{receiving.receiptCode}, "%") 
	  		</if>
	  		<if test="receiving.purchaseTime != null">
	  			AND r.purchaseTime = #{receiving.purchaseTime} 
	  		</if>
	  	</where>
  </select>
  <!-- 根据id查询一条收货单信息 -->
  <select id="findObjectById" parameterType="java.lang.Integer" resultType="com.huahua.saselomo.receiving.entity.Receiving">
  	SELECT id, receiptCode, valid, purchaseTime, totalPrice, note, createdTime, modifiedTime, createdUser, modifiedUser 
  	FROM receiving
  	WHERE id=#{id};
  </select>
  
  <!-- 将一条收货单信息插入到数据库 -->
  <insert id="saveObject" parameterType="com.huahua.saselomo.receiving.entity.Receiving">
  	INSERT INTO receiving
  	(id, receiptCode, valid, purchaseTime, totalPrice, note, createdTime, createdUser)
  	VALUES
  	(#{id}, #{receiptCode}, #{valid}, #{purchaseTime}, #{totalPrice}, #{note}, NOW(), #{createdUser});
  </insert>
  
  <!-- 根据id删除一条收货单信息 -->
  <delete id="deleteObject" parameterType="java.lang.Integer">
  	DELETE FROM receiving 
  	WHERE id=#{id};
  </delete>
  
  <!-- 更新收货单信息 -->
  <update id="updateObject" parameterType="com.huahua.saselomo.receiving.entity.Receiving">
  	UPDATE receiving 
  	SET 
  	receiptCode = #{receiptCode}, 
  	valid = #{valid}, 
  	purchaseTime = #{purchaseTime}, 
  	totalPrice = #{totalPrice}, 
  	note = #{note}, 
  	modifiedTime = NOW(), 
  	modifiedUser = #{modifiedUser} 
  	WHERE id = #{id};
  	
  </update>
</mapper> 